*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family:Arial, Helvetica, sans-serif;
}

.container {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(134deg,#ff0ff4,#ffdc74);
	padding: 10px;
}
.todo-app {
	width: 100%;
	max-width: 540px;
	background: #fff;
	margin: 100px auto 20px;
	padding: 40px 30px 70px;
	border-radius: 10px;
}
.todo-app h2 {
	color: #f49e3c;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.todo-app h2 i {
	padding: 5px;
	font-size: 30px;
}
.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #f49e3c;
	border-radius: 20px;
	padding-left: 20px;
	margin-bottom: 25px;
}
.row input {
	flex: 1;
	border: none;
	outline: none;
	background: transparent;
	padding: 10px;
	color: #000;
}
input::placeholder {
	color: #fff;
}
.row button {
	border: none;
	outline: none;
	padding: 16px 50px;
	background: #ff5945;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	border-radius: 40px;
}
.list-container li {
	list-style: none;
	font-size: 17px;
	padding: 12px 8px 12px 50px;
	user-select: none;
	cursor: pointer;
	position: relative;
}
.list-container li::before {
	content: '';
	position: absolute;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 1px solid #ddd;
	left: 8px;
	top: 6px;
}
.list-container li.checked {
	color: #ddd;
	text-decoration: line-through;
}
.list-container li.checked::before {
	content: 'X';
	background: #e64747;
	text-align: center;
	line-height: 28px;
	font-size: 18px;
}
.list-container li span {
	position: absolute;
	right: 0;
	top: 5px;
	width: 40px;
	font-size: 22px;
	color: #555;
	text-align: center;
	border-radius: 50%;
	height: 40px;
	line-height: 40px;
}
.list-container li span:hover {
	background: #ddd;
}